 /*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

*:hover{
  outline: 2px solid pink;
}


body {
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  background-color: #607d8b;
}

h1 {
  /* padding-top: 10%; */
}

/* Nav 1 */


.main-container {
  margin-top: 5%;
  display: grid; /* Set up the grid and justify/align to center */
  grid-template-columns: auto auto auto;
  grid-column: 2 / span 2;
  justify-content: center;
  align-content: center;
}

#p5-canvas {

}

/* Navbar */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 65%;
  position: relative;
  /* z-index: 1; */
  top: 0;
  left: 0;
  /* background-image: linear-gradient(to grey, white , black); */
  /* background-color:  grey; */
  /* overflow-x: hidden; */
  padding-top: 20px;
  margin-right: 20px;

  /* word-wrap: break-word; */
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 10% 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: block;
  /* border: dotted; */
  background-color: green;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

.dropdown-btn {
  /* outline: none; */
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}


/* Add an active class to the active dropdown button */
.active {
  background-color: #3c93d7;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  margin-right: 20%;
}
